@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima_Nova.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
 }

 @font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima_Nova_Semibold.ttf') format('truetype');
  font-weight:bold;
  font-style:normal;
 }